
body{
    background-image: url(TVU.jpg);
}
.bang1{
    background-color: white;
}
.hang1{
    background-color:pink;
}

.btn {
    font-size: 14px;
    padding: 8px;
    background-color:pink;
    color: black;
    text-decoration: none;
}

