
body{
    background-image: url(TVU.jpg);
}
#bang1{
    background-color: white;
}
#hang1{
    background-color:pink;
}

.btn {
    font-size: 14px;
    padding: 8px;
    background-color: green;
    color: white;
    text-decoration: none;
}

/* Về màu sac thì ban chỉ lại theo ý của bạn nha, Ok tks */
